 body{

}

#banner {
https://images.app.goo.gl/rag47SuGybC3MK4X8
}
. principal {
background:#CCCCCC
 pading:30px;
 .titulo-principal{
  pading-left:20px;
 }
}
.titulo centralizado{
text-aling:center
}
p {
      text-aling:center;
    }
#missao {
 "font-size: 2 px
}
em strong {
color:red;
}
.itens
{
 font-style: italic
   }
. Benefícios {
background:FFFFFF;
 pading:20px;
}


 display:inline-block;
 vertical-align:top;
 widty:20%;
 margin-right:15%;
 }
text-align:center;
}
.imagembenefícios {
width: 50%;
} 
