 body{

}

#banner {

}
. principal {
background:#CCCCCC
}
h1{
text-aling:center
}
p {
      text-aling:center;
    }
#missao {
 "font-size: 2 px
}
em strong {
color:red;
}
.itens
{
 font-style: italic
   }
. Benefícios {
background:FFFFFF;
}
h2{
text-align:center;
}
